body {
  font-family: Roboto, sans-serife;
  background-color: #fff;
  color: #434455;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 2%;
}
a .logo-nav {
    color: #F4F4FD;
  letter-spacing: 3%;
  font-size: 18px;
  line-height: 1, 16;
}
a .logo {
  font-family: 'Raleway' sans-serif;
  color: #4d5ae5;
}

a {
  line-height: 1, 33;
  letter-spacing: 4%;
  text-decoration: underline;
  color: #2e2f42;
}
a:hover a:focus {
  color: #404bbf;
}
a:active {
  color: #4d5ae5;
}

h1 {
  letter-spacing: 2%;
  background-color: #2e2f42;
  color: #ffffff;
  line-height: 1.071;
  font-size: 56px;
}
button {
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 4%;
}
button:hover button:focus {
  background-color: #404bbf;
}

a ul {
   list-style-type: underline;
}
h2 {
  letter-spacing: 2%;
  font-size: 36px;
}
h3 {
  font-size: 20px;
  line-height: 1, 2;
  color: #2e2f42;
}
.main{
    background-color: #F4F4FD;
}
 footer{
    background-color: #2E2F42;
 }

 a.logo-nav{ 
    color: #F4F4FD;
 }
 .footer-text{
    color: #F4F4FD;
 }

 