body {
  font-family: Roboto, sans-serif;
  background-color: #fff;
  color: #434455;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.header-nav {
    color: #2e2f42;
}

.header-logo {
  font-family: Raleway, sans-serif;
  color: #404bbf;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 117%;
}
.logo-span {
  color: #2e2f42;
}
.header-menu {
    font-weight: 500;
}

a {
  text-decoration: none;
}
a:hover  {
    text-decoration: none;
  
  
}
a:active, a:focus {
    outline: none;
  
  
}

h1 {
  letter-spacing: 2%;
  background-color: #2e2f42;
  color: #ffffff;
  line-height: 1.071;
  font-size: 56px;
}
button {
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 4%;
}
button:hover, button:focus {
  background-color: #404bbf;
}

ul {
  list-style-type: none;
  text-decoration: none;
}
h2 {
  letter-spacing: 2%;
  font-size: 36px;
}
h3 {
  font-size: 20px;
  line-height: 1, 2;
  color: #2e2f42;
}
.main {
  background-color: #f4f4fd;
}
footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  color: #404bbf;
  font-weight: 700;
  letter-spacing: 3%;
  line-height: 1.17%;
  font-size: 18px;
}


.footer-text {
  color: #f4f4fd;
}
